
.main-card-wrapper{
    display: flex;
}
    .card {
        width: 200px;
        height: 300px;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        padding: 20px;
        white-space: nowrap;
      }
    
      .cardcontent {
        height: 39%;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 15px;
        padding-right: 15px;
      }
      .cardcontent .price{
        color:red;
      }
      




